/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    text-align: center; /* Center text and content */
}

/* Wrapper for Main Menu and Submenu */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000;
    color: #fff;
}

/* Main Menu */
.main-menu {
    display: flex;
    justify-content: space-between; /* Space out the menu items (Adomas Juska, Works, Other) */
    width: calc(100% - 888px);  /* To keep 444px invisible border on each side */
    font-size: 50pt;
    color: black;
    position: absolute;
    top: 85px;
    left: 444px;
    right: 444px;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.main-menu a:hover {
    text-decoration: underline;
}

/* Submenu */
.submenu {
    display: flex;
    justify-content: space-between; /* Space out the submenu items */
    width: calc(100% - 1060px);  /* To keep 530px invisible border on each side */
    font-size: 25pt;
    color: black;
    position: absolute;
    top: 180px;
    left: 530px;
    right: 530px;
}

.submenu a {
    text-decoration: none;
    color: black;
}

.submenu a:hover {
    text-decoration: underline;
}

/* Content Section */
.content {
    margin-top: 290px;
    padding: 0 444px;
    text-align: center;
}

/* Remove hover colors */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}
